<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:security="http://www.springframework.org/schema/security"
	xmlns:websocket="http://www.springframework.org/schema/websocket"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	           http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	           http://www.springframework.org/schema/mvc 
      		   http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
			   http://www.springframework.org/schema/context
	           http://www.springframework.org/schema/context/spring-context-4.0.xsd
	           http://www.springframework.org/schema/tx
	           http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
	           http://www.springframework.org/schema/aop
	           http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
	           http://www.springframework.org/schema/security
			   http://www.springframework.org/schema/security/spring-security.xsd
			   http://www.springframework.org/schema/websocket 
			   http://www.springframework.org/schema/websocket/spring-websocket.xsd
	           ">

	<security:global-method-security
		pre-post-annotations="enabled" secured-annotations="enabled" />

	<context:component-scan base-package="com.lsb.cr"></context:component-scan>
	<mvc:annotation-driven />
	<mvc:default-servlet-handler />
	<mvc:resources mapping="/style/**" location="/style/" />
	<mvc:resources mapping="/script/**" location="/script/" />

	<!-- JDBC 配置 -->
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
		<!-- mysql数据库的驱动 -->
		<property name="driverClassName" value="${jdbc.driverClassName}" />
		<property name="url" value="${jdbc.url}" />
		<property name="username" value="${jdbc.username}" />
		<property name="password" value="${jdbc.password}" />
		<property name="defaultAutoCommit" value="false" />

	</bean>
	<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource" ref="dataSource"></property>
	</bean>
	<context:property-placeholder location="classpath:jdbc.properties" />

	<!-- 启用spring mvc 注解 -->
	<context:annotation-config />

	<!-- 开启jdbc事务 -->
	<bean id="txManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>
	<tx:annotation-driven transaction-manager="txManager" />

	<!-- 完成请求和注解POJO的映射 -->
	<bean
		class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter" />

	<bean id="jspViewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="viewClass"
			value="org.springframework.web.servlet.view.JstlView" />
		<property name="prefix" value="/WEB-INF/views/" />
		<property name="suffix" value=".jsp" />
	</bean>
	<!-- 配置http请求的json映射消息转换器 -->
	<bean id="mappingJacksonHttpMessageConverter"
		class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
		<property name="supportedMediaTypes">
			<list>
				<value>application/json;charset=UTF-8</value>
			</list>
		</property>
	</bean>

	<bean id="localeResolver"
		class="org.springframework.web.servlet.i18n.CookieLocaleResolver">
		<property name="defaultLocale" value="zh_CN" />
	</bean>
	<!-- Application Message Bundle -->
	<bean id="messageSource"
		class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
		<property name="basenames">
			<list>
				<value>/WEB-INF/messages</value>
			</list>
		</property>
	</bean>
	<!-- websocket处理类和握手协议的spring配置
	<bean id="websocket" class="com.lsb.cr.websocket.WebSocketEndPoint" />
	<websocket:handlers>
		<websocket:mapping path="/websocket" handler="websocket" />
		<websocket:handshake-interceptors>
			<bean class="com.lsb.cr.websocket.HandshakeInterceptor" />
		</websocket:handshake-interceptors>
	</websocket:handlers>
	 -->
</beans>
 

